@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.chart {
  position: relative;

  width: 100%;
  height: 100%;

  svg {
    display: block;
  }

  &__line {
    fill: none;

    &:hover {
      opacity: 1;

      stroke-width: 3;
    }

    @include smooth-transition(stroke opacity);
  }

  &__area {
    opacity: 1;

    @include smooth-transition(opacity);
  }
}
