@use '../../../scss/variables' as *;
@use '../../../scss/mixins' as *;

.button {
  gap: $spacing-sm;

  padding: $spacing-xxs $spacing-sm;

  background: var(--color-button-bg);
  border: 1px solid var(--color-button-border);
  border-radius: $border-radius-sm;

  font-size: $font-size-base;
  font-weight: 400;
  color: var(--color-button-text);

  cursor: pointer;

  user-select: none;

  svg {
    flex-shrink: 0;
  }

  &:has(svg:only-child) {
    min-width: 28px;
    min-height: 28px;
    padding: $spacing-xxs;
  }

  &:hover:not(&--disabled) {
    background: var(--color-button-hover);
    border-color: var(--color-border-hover);

    color: var(--color-variation-a);
  }

  &--ghost {
    background: transparent;
    border-color: transparent;

    &:hover:not(.button--disabled) {
      background: var(--color-button-hover);
    }
  }

  &--active {
    background: var(--color-button-active);
    border-color: var(--color-variation-a);

    color: var(--color-variation-a);
  }

  &--disabled {
    opacity: 0.5;
  }

  @include flex-center;
  @include theme-transition(all);
  @include focus-visible;
}
