.zoom-controls {
  display: flex;

  align-items: center;
  gap: 2px;

  &__group {
    display: flex;

    gap: 0;
    
    button {
      margin-left: -1px;

      border-radius: 0;
      
      &:first-child {
        margin-left: 0;

        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }
      
      &:last-child {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
      }
      
      &:focus,
      &:hover {
        position: relative;
        z-index: 1;
      }
    }
  }
}
